<md-content flex layout-padding class="full-height">

    <div id='divPesquisa' layout="column" layout-align="center center" ng-class="vm.classHeight">
        <form name="userForm">
            <md-input-container>
                <label>Pesquisar</label>
                <input id="inputPesquisa" ng-model="vm.userInput" ng-change="vm.onInputChange()">
                <md-button id="botaoPesquisa" class=" md-raised md-primary" ng-click="vm.onSearch()">Pesquisar</md-button>
            </md-input-container>            
        </form>
    </div>

    <div ng-if="vm.videoResult.length > 0" id="resultadoPesquisa">
        <div layout="column">
            <div ng-repeat="video in vm.videoResult" layout="column">
                <md-card md-theme="dark-blue">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline" ng-bind="video.snippet.title"></span>
                            <span class="md-subhead" ng-bind="video.snippet.description"></span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-sm card-media">
                                <img ng-src="{{video.snippet.thumbnails.default.url}}" alt="">
                            </div>
                        </md-card-title-media>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button ng-click="vm.onShowInfo(video.id.videoId)">Mais Informação</md-button>
                    </md-card-actions>
                </md-card>
            </div>
            <md-button class="md-primary" ng-click="vm.onSearch()">Próxima Página</md-button>
        </div>
    </div>

</md-content>